<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- IISNode maneja todas las solicitudes -->
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <!-- Redirige todas las solicitudes a app.js -->
      <rules>
        <rule name="DynamicContent">
          <match url=".*" />
          <action type="Rewrite" url="src/app.js" />
        </rule>
      </rules>
    </rewrite>
    <security>
      <!-- Oculta el directorio iisnode para mayor seguridad -->
      <requestFiltering>
        <hiddenSegments>
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>